* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header {
    padding: 20px 200px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    /* height: 100px; */
}

.header span {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
    
}

.right-links {
    display: flex;
    gap: 24px;
}

.right-links a {
    text-decoration: none;
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 64px 200px;
    align-items: center;
    gap: 64px;
}

.image img {
    height: auto;
    width: 500px;   
}

.content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 360px;
}

.content p, .right-links a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}

.content button {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 36px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
}